PORT=3000
MONGO_URI_Local='mongodb://localhost:27017/track-test'
MONGO_URI='mongodb+srv://teshanit:MRfFHbS6hpRIDFFV@cluster0.wswwl.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0'
JWT_SECRET=g+k3+tOEd9Oe+5HEz5Ns7qSVT2iXf0xyaQgTTxXphVh7DDwTNWYJ2rWNDVRiEmV/